@use "sass:map";
@use "sass:math";
@use "sass:list";
@use "sass:string";

@use "abstracts/index" as *;
@use "abstracts/rem" as *;
@use "abstracts/font-face-generator" as *;
@use "abstracts/variables" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
} // *::after

strong {
	font-weight: var(--fw-700);
} // strong

$fonts-path: "../fonts";
$font-file-types: "woff2" "woff";

@include font-face(
	(
		"Mardoto": (
			300: "Mardoto-Light",
			400: "Mardoto-Regular",
			500: "Mardoto-Medium",
			700: "Mardoto-Bold",
			900: "Mardoto-Black",
		),
	)
);

html,
body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
} // body

.wrapper {
	// overflow-x: hidden;
	width: 100%;
	// min-height: 100%;
	// border: solid #ff0000 10px;
}

body {
	background-color: rgb(var(--gray-4));
	&::-webkit-scrollbar {
		width: 1rem;
	} // body::-webkit-scrollbar

	&::-webkit-scrollbar-thumb {
		background: rgb(var(--blue-1));
		border-radius: var(--radius-1);
	} // body::-webkit-scrollbar-thumb

	&::-webkit-scrollbar-track {
		background-color: transparent;
	} // body::-webkit-scrollbar-track
} // body

@mixin selection {
	::selection {
		background: rgb(var(--blue-1));
		color: rgb(var(--white-1));
	} // @mixin selection ::selection
} // @mixin selection

@mixin selection-invert {
	::selection {
		background: rgb(var(--white-1));
		color: rgb(var(--blue-1));
	} // @mixin selection-invert ::selection
} // @mixin selection-invert

.flex {
	display: flex;
} // .flex

.scrollbar-thumb,
.scrollbar-track {
	&-y {
		width: 0.85rem;
	} // .scrollbar-track-y
} // .scrollbar-track

.scrollbar-track {
	&-y {
		background: transparent !important;
	} // .scrollbar-track-y
} // .scrollbar-track

.scrollbar-thumb {
	&-y {
		background: rgb(var(--blue-1)) !important;
		border-radius: var(--radius-1);
	} // .scrollbar-thumb-y
} // .scrollbar-thumb

body,
a,
button,
input,
textarea,
select {
	font-family: var(--font-family-root);
} // select

a {
	text-decoration: none;
} // a

.section-fix {
	@include mx(auto);
	max-width: var(--xl);
} // .section-fix

.header {
	&__content {
		@include px(2.3rem, 2.6rem);
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 9.235rem;
		box-shadow: 0 4px 6px rgba(var(--blue-4), 0.18);
		background-color: rgb(var(--white-1));

		.logo {
			display: inline-block;
			margin-top: 0.7rem;
		} // .header__content .logo

		.menu {
			margin-top: 0.5rem;

			@include media($sm) {
				display: none;
			}

			&__li {
				@include px(clamp(0.5rem, rem-vw(4rem, $xl), 4rem));
			} // .header__content .menu__li
		} // .header__content .menu

		.btn {
			&--support {
				margin-top: 0.5rem;
				margin-right: clamp(0.5rem, rem-vw(3.7rem, $xl), 3.7rem);
			} // .header__content .btn--support
		} // .header__content .btn
	} // .header__content
} // .header

.logo {
	display: inline-block;

	&__img {
		@include wh(7rem, 6.5rem);
	} // .logo__img
} // .logo

.menu {
	&__ul {
		display: inline-flex;
	} // .menu__ul

	&__link {
		display: inline-block;
		font-family: var(--font-family-root);
		font-weight: var(--fw-400);
		font-size: clamp(
			var(--fs-150),
			rem-vw(map.get($font-size, fs-180), $xl),
			var(--fs-180)
		);
		color: var(--gray-5);
		transition: linear font 0.16s, linear color 0.16s;
		will-change: font, color;
		white-space: nowrap;

		&--current {
			font-weight: var(--fw-700);
		} // .menu__link--current

		&--current,
		&:hover {
			color: rgb(var(--blue-1));
		} // .menu__link:hover
	} // .menu__link
} // .menu

.btn {
	&--support {
		display: inline-block;
		border-radius: var(--radius-1);
		background-color: rgb(var(--blue-1));
		font-size: clamp(
			var(--fs-150),
			rem-vw(map.get($font-size, fs-180), $xl),
			var(--fs-180)
		);
		color: rgb(var(--gray-4));
		font-weight: var(--fw-900);
		letter-spacing: var(--ls-1000);
		line-height: var(--lh-210);
		padding: 0.8rem clamp(0.5rem, rem-vw(5rem, $xl), 5rem);
		border: 1px solid rgb(var(--blue-1));
		transition: linear background-color 0.16s, linear color 0.16s;

		&:hover {
			background-color: rgb(var(--white-1));
			color: rgb(var(--blue-1));
		} // .btn--support:hover

		.txt-label {
			@include p(rel, 0.2rem);
			display: inline-block;
		} // .btn--support .txt-label
	} // .btn--support
} // .btn

.langs {
	display: inline-flex;

	.text-divider {
		@include px(1rem);
	} // .langs .text-divider
} // .langs

.lang {
	display: inline-block;
	font-size: var(--fs-120);
	line-height: var(--lh-140);
	color: rgb(var(--gray-5));
	font-weight: var(--fw-300);

	&--current {
		font-weight: var(--fw-600);
	} // .lang--current

	&--hy {
		text-decoration: none;
	} // .lang--hy

	&--en {
		margin-top: -1px;
	} // .lang--en
} // .lang

.group {
	&--btn-langs {
		display: inline-block;
		white-space: nowrap;
	} // .group--btn-langs
} // .group

.footer {
	&--spacer {
		margin-top: 9rem;
	} // .footer--spacer
	@include selection-invert;

	&__content {
		display: flex;
		justify-content: space-between;
		background-color: rgb(var(--blue-1));
		border-radius: var(--radius-1);
		min-height: 14.6rem;
		padding: 4rem;
		color: rgb(var(--white-1));
		font-size: var(--fs-160);

		@include media($sm) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;

			.soc-info {
				margin-top: 2rem;
			} // .footer__content @include media($sm) .soc-info
		} // .footer__content @include media($sm)
	} // .footer__content
} // .footer

.contact-info {
	line-height: var(--lh-240);
} // .contact-info

.soc-info {
	line-height: var(--lh-190);
	letter-spacing: var(--ls-400);
} // .soc-info

.soc-links {
	display: inline-flex;

	&--footer {
		.soc-link {
			margin-top: 1.6rem;
			@include mx(0.1rem, 1.51rem);

			&:last-child {
				margin-right: 0;
			} // .soc-links--footer .soc-link:last-child
		} // .soc-links--footer .soc-link
	} // .soc-links--footer
} // .soc-links

.soc-link {
	@include wh(3.199rem);
	@include f-center;
	@include p;
	border-radius: 50%;
	z-index: 1;

	&:after {
		@include wh(100%);
		@include l-center;
		content: "";
		background-color: rgb(var(--white-1));
		border: solid rgb(var(--white-1)) 1px;
		transition: linear background-color 0.16s, linear border 0.16s,
			cubic-bezier(0.16, 1, 0.3, 1) width 0.25s,
			cubic-bezier(0.16, 1, 0.3, 1) height 0.25s;
		will-change: background-color, border width height;
		border-radius: 50%;
		z-index: -1;
	} // .soc-link:after

	svg {
		fill: rgb(var(--blue-1));
		transform: scale(1);
		transition: cubic-bezier(0.16, 1, 0.3, 1) 0.16s fill,
			cubic-bezier(0.16, 1, 0.3, 1) 0.16s transform;
		will-change: fill, transform;
	} // .soc-link svg

	&:hover {
		&:after {
			@include wh(calc(100% + 0.5rem));
			background-color: rgb(var(--blue-1));
		} // .soc-link:hover:after

		svg {
			transform: scale(0.8);
			fill: rgb(var(--white-1));
		} // .soc-link:hover svg
	} // .soc-link:hover
} // .soc-link

.dt {
	text-decoration: none;
} // .dt

.about {
	@include selection;

	&__content {
		@include f-center;
		@include px(1rem);
		min-height: clamp(30rem, rem-vw(50rem, $xl), 50rem);
		background-color: rgb(var(--gray-6));
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-image: image-set(
			url("../img/about-bg-1x.png") 1x,
			url("../img/about-bg-1.5x.png") 1.5x,
			url("../img/about-bg-2x.png") 2x,
			url("../img/about-bg-3x.png") 3x,
			url("../img/about-bg-4x.png") 4x
		);
	} // .about__content
} // .about

.h1 {
	font-weight: var(--fw-900);
	font-size: clamp(
		var(--fs-300),
		rem-vw(map.get($font-size, fs-800), $xl),
		var(--fs-800)
	);
	line-height: clamp(
		var(--lh-300),
		rem-vw(map.get($line-height, lh-750), $xl),
		var(--lh-750)
	);

	color: rgba(var(--blue-1));
} // .h1

.description {
	font-weight: var(--fw-400);
	color: var(--black-1);

	&--goal,
	&--about {
		line-height: clamp(
			var(--lh-220),
			rem-vw(map.get($line-height, lh-400), $xl),
			var(--lh-400)
		);
	} // .description--about

	&--about {
		font-size: clamp(
			var(--fs-160),
			rem-vw(map.get($font-size, fs-300), $xl),
			var(--fs-300)
		);
	} // .description--about

	&--goal {
		font-size: clamp(
			var(--fs-160),
			rem-vw(map.get($font-size, fs-260), $xl),
			var(--fs-260)
		);
	} // .description--goal
} // .description

.about-info {
	text-align: center;

	.description {
		@include mx(auto);
		max-width: clamp(43.3rem, rem-vw(86.6rem, $xl), 86.6rem);
		margin-top: 2.7rem;
	} // .about-info .description
} // .about-info

.goal {
	@include selection;

	&__content {
		display: flex;
		padding: clamp(3.3rem, rem-vw(3.3rem, $xl), 3.3rem)
			clamp(4.1rem, rem-vw(8.2rem, $xl), 8.2rem);
		min-height: clamp(31rem, rem-vw(51rem, $xl), 51rem);
		background-color: rgb(var(--white-1));

		.default-link {
			@include p(rel, 2.5rem);
		} // .goal__content .default-link

		@include media($sm) {
			@include f-center;
			flex-direction: column;

			.goal {
				&__left,
				&__right {
					width: 100%;
					@include kill-space;
				} // .goal__content @include media($sm) .goal__right

				&__img {
					margin-left: 0;
				} // .goal__content @include media($sm) .goal__img

				&__left {
					margin-bottom: 3rem;
				} // .goal__content @include media($sm) .goal__left

				&__info {
					margin-top: 0;
				} // .goal__content @include media($sm) .goal__info
			} // .goal__content @include media($sm) .goal

			.default-link {
				@include p;
			} // .goal__content @include media($sm) .default-link
		} // .goal__content @include media($sm)
	} // .goal__content

	&__left {
		@include px(3rem);
		@include f-center;
		width: 38.0204241948154%;
	} // .goal__left

	&__right {
		display: flex;
		align-items: center;
		width: 61.9795758051846%;
	} // .goal__right

	&__info {
		margin-top: -3.5rem;
	} // .goal__info

	&__img {
		max-width: 29.246rem;
		width: 100%;
		max-height: 29.246rem;
		height: 100%;
		margin-left: -3.6rem;
		margin-top: 1.1rem;
	} // .goal__img
} // .goal

.default-link {
	display: inline-block;
	font-weight: var(--fw-400);
	letter-spacing: var(--ls-400);
	color: rgb(var(--blue-1));
	text-decoration-line: underline;
	line-height: clamp(
		var(--lh-220),
		rem-vw(map.get($line-height, lh-300), $xl),
		var(--lh-300)
	);
	font-size: clamp(
		var(--fs-160),
		rem-vw(map.get($font-size, fs-260), $xl),
		var(--fs-260)
	);
} // .default-link

.dn {
} // .dn

.indicator {
	&__content {
		@include selection;
		padding: clamp(3rem, rem-vw(5rem, $xl), 5rem)
			clamp(5rem, rem-vw(8rem, $xl), 8rem);

		background: rgba(var(--gray-6));

		@include media($sm) {
			.arrs-group--1 {
				padding-top: 0;
				padding-left: 0;
			} // .indicator__content @include media($sm) .arrs-group--1

			.indicator__content-middle {
				padding: 2rem 0 4rem;
			} // .indicator__content @include media($sm) .indicator__content-middle

			.indicator__content-middle-left {
				padding-bottom: 3rem;
			} // .indicator__content @include media($sm) .indicator__content-middle-left
		} // .indicator__content @include media($sm)

		@include media($xs) {
			.indicator__content-middle-right {
				flex-direction: column;
				align-items: center;
				justify-content: center;
				text-align: center;
			} // .indicator__content @include media($xs) .indicator__content-middle-right
		} // .indicator__content @include media($xs)

		&-top {
			display: flex;
			justify-content: space-between;
		} // .indicator__content-top

		&-middle {
			min-height: clamp(23.2rem, rem-vw(33.2rem, $xl), 33.2rem);
			display: flex;
			align-items: center;
			justify-content: space-between;

			&-left {
				padding-left: clamp(0.5rem, rem-vw(8.2rem, $xl), 8.2rem);
			} // .indicator__content-middle-left

			&-right {
				display: flex;
				padding-right: clamp(0.3rem, rem-vw(5.3rem, $xl), 5.3rem);
				gap: 3rem;
				margin-top: -3.5rem;
			} // .indicator__content-middle-right

			@include media($sm) {
				flex-direction: column;
				align-items: center;
				justify-content: center;
				text-align: center;
				.indicator__content-middle-left {
					padding-left: 0;
				} // .indicator__content-middle @include media($sm) .indicator__content-middle-left
				.indicator__content-middle-right {
					padding-right: 0;
					margin-top: 0;
				} // .indicator__content-middle @include media($sm) .indicator__content-middle-right
			} // .indicator__content-middle @include media($sm)
		} // .indicator__content-middle
	} // .indicator__content
} // .indicator

.arrs-group {
	&--1 {
		padding-left: clamp(1rem, rem-vw(31.4rem, $xl), 31.4rem);
		padding-top: 3.2rem;
		display: flex;
		gap: 1.1rem;
	} // .arrs-group--1

	&--2 {
		display: flex;
		gap: 1.1rem;
	} // .arrs-group--2

	&--3 {
		display: flex;
		gap: 1.3rem;
	} // .arrs-group--3

	.icon {
		fill: rgba(var(--blue-5));
		width: clamp(1rem, rem-vw(4.476rem, $xl), 4.476rem);
		height: clamp(1rem, rem-vw(4.314rem, $xl), 4.314rem);

		&--arr-to-bottom-right {
			fill-opacity: 0.25;
		} // .arrs-group .icon--arr-to-bottom-right
	} // .arrs-group .icon
} // .arrs-group

.h2 {
	color: rgb(var(--blue-1));
	font-weight: var(--fw-700);
	letter-spacing: var(--ls-1600);

	font-size: clamp(
		var(--fs-300),
		rem-vw(map.get($font-size, fs-800), $xl),
		var(--fs-800)
	);

	line-height: clamp(
		var(--lh-300),
		rem-vw(map.get($line-height, lh-860), $xl),
		var(--lh-860)
	);
} // .h2

.count {
	@include p;
	@include selection-invert;

	display: flex;
	align-items: center;
	min-width: clamp(14rem, rem-vw(27.4rem, $xl), 27.4rem);
	height: clamp(12.6rem, rem-vw(25.1rem, $xl), 25.1rem);
	border: 2px solid rgba(var(--blue-6));
	border-radius: var(--radius-2);

	&__label {
		background: rgb(var(--blue-1));
		min-height: clamp(4rem, rem-vw(8rem, $xl), 8rem);
		position: absolute;
		bottom: 0;
		left: 0;
		width: calc(100% - 4.2rem);
		margin: 0 2.1rem;
		border-radius: var(--radius-2);
		transform: translateY(50%);
		font-size: clamp(
			var(--fs-120),
			rem-vw(map.get($font-size, fs-220), $xl),
			var(--fs-220)
		);

		line-height: clamp(
			var(--lh-160),
			rem-vw(map.get($line-height, lh-250), $xl),
			var(--lh-250)
		);

		text-align: center;
		color: rgb(var(--white-1));
		display: flex;
		align-items: center;
	} // .count__label

	&__value {
		// @include selection-invert;
		display: block;
		width: 100%;
		text-align: center;
		font-weight: var(--fw-900);
		letter-spacing: var(--ls-200);
		color: rgba(var(--blue-1));
		line-height: clamp(
			var(--lh-750),
			rem-vw(map.get($line-height, lh-1110), $xl),
			var(--lh-1110)
		);
		font-size: clamp(
			var(--fs-350),
			rem-vw(map.get($font-size, fs-950), $xl),
			var(--fs-950)
		);
	} // .count__value
} // .count

.media {
	@include selection;
	&__content {
		padding-left: clamp(2.8rem, rem-vw(7.8rem, $xl), 7.8rem);
		padding-right: clamp(2.8rem, rem-vw(7.8rem, $xl), 7.8rem);
		padding-top: 4rem;
	} // .media__content
} // .media

.cols {
	&.--media {
		display: flex;

		.h2 {
			font-weight: var(--fw-900);
			font-size: clamp(
				var(--fs-300),
				rem-vw(map.get($font-size, fs-480), $xl),
				var(--fs-480)
			);
			line-height: clamp(
				var(--lh-400),
				rem-vw(map.get($line-height, lh-560), $xl),
				var(--lh-560)
			);
			letter-spacing: var(--ls-500);
			text-align: right;
			@include media($sm) {
				text-align: center;
			} // .cols.--media .h2 @include media($sm)
		} // .cols.--media .h2

		.__1 {
			width: 61.7601%;
			padding-right: 2rem;
		} // .cols.--media .__1

		.__2 {
			width: 38.2399%;
		} // .cols.--media .__2

		&.--title {
			padding-bottom: clamp(0.01rem, rem-vw(4rem, $xl), 4rem);

			.__1 {
				padding-right: clamp(0.01rem, rem-vw(4.7rem, $xl), 4.7rem);
				@include media($sm) {
					padding-right: 0;
					text-align: center;
				} // .cols.--media.--title .__1 @include media($sm)
			} // .cols.--media.--title .__1

			.__2 {
				text-decoration: none;
			} // .cols.--media.--title .__2
		} // .cols.--media.--title

		&.--content {
			.__1 {
				text-decoration: none;
				font-size: 0;
			} // .cols.--media.--content .__1

			.__2 {
				text-decoration: none;
			} // .cols.--media.--content .__2

			@include media($sm) {
				.__1 {
					padding-bottom: 2.7rem;
				} // .cols.--media.--content @include media($sm) .__1
			} // .cols.--media.--content @include media($sm)
		} // .cols.--media.--content

		&.--btn {
			padding-top: clamp(2rem, rem-vw(4rem, $xl), 4rem);

			.__1 {
				padding-right: clamp(0.001rem, rem-vw(3.6rem, $xl), 3.6rem);
				text-align: right;
				@include media($sm) {
					text-align: center;
				} // .cols.--media.--btn .__1 @include media($sm)
			} // .cols.--media.--btn .__1

			.__2 {
				text-decoration: none;
			} // .cols.--media.--btn .__2
		} // .cols.--media.--btn

		@include media($sm) {
			display: block;
			width: 100%;
			.__1,
			.__2 {
				width: 100%;
				padding-right: 0;
			} // .cols.--media @include media($sm) .__2
		} // .cols.--media @include media($sm)
	} // .cols.--media
} // .cols

.article-cover {
	@include wh(100%);
	max-width: 77.174rem;
	max-height: 48.142rem;
	display: block;
	object-fit: cover;
	border-radius: var(--radius-2);
} // .article-cover

.article {
	display: flex;

	&__figure {
		text-decoration: none;
	} // .article__figure

	&__img {
		text-decoration: none;
		min-width: 13.916rem;
		flex-shrink: 0;
		flex-grow: 1;
		border-radius: var(--radius-2);
		object-fit: cover;
	} // .article__img

	&__info {
		display: block;
		padding-left: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
	} // .article__info

	&__descr {
		font-weight: var(--fw-400);
		color: var(--black-1);
		font-size: 1.4rem;
		line-height: 2rem;
		letter-spacing: 0.02rem;
		max-height: 6rem;
		@include truncat(3);
	} // .article__descr

	&__details-link {
		font-weight: var(--fw-700);
		text-decoration-line: underline;
		color: rgb(var(--blue-1));
		font-size: 1.4rem;
		line-height: 1.6rem;
		letter-spacing: 0.02rem;
		margin-top: 0.5rem;
		display: inline-block;
	} // .article__details-link
} // .article

.list {
	width: 100%;
	&,
	&.--article {
		display: block;
		font-size: 0;
	} // .list.--article

	&.--article {
		.__item {
			margin-bottom: 2.7rem;
			&:last-child {
				margin-bottom: 0;
			} // .list.--article .__item:last-child
		} // .list.--article .__item
	} // .list.--article
} // .list

.js-typo-intro-2 {
	.letter {
		display: inline-block;
	}
}

.js-typo-intro {
	.letter {
		display: inline-block;
	}
}
